<div class="container">
    <div class="csp2">
        <div class="row">
            <div class="col-6">
        <img src="assets\images\csp2.jpg">
        </div>
        <div class="col-6">    
               <p>Our Community service project deals with the health issues of the villagers 
            we surveyed a village called ALLURIVARIPALEM in Narasaraopet, Palnadu District.
            we visited the Village Health Care center in Allurivaripalem and took the guidance of the village doctor.
            we have analyzed what are the tests and the medicines that are been issuing to the Allurivaripalem villagers 
            

        </p>
        </div>
        </div>
        
        </div>
        <div class="csp1">
            <div class="row">
                
            <div class="col-6">    
                   <p>
                    Our volunteers went to the village and interact with villagers , and got knowledge 
                    about the dieseases they are suffering from and the medicines they are using and our volunteers guided them
                    how to 

                   </p>
    
        
            </div>
            <div class="col-6">
            <img src="assets\images\csp1.jpg">
            </div>
            </div>
            
            </div>
            <div class="row">
                
            <div class="csp3">
            <img src="assets\images\csp3.jpg">
            <p>our volunteers creating awareness about the medicines</p>

            </div>
                <div class="csp-4">
            <img src="assets\images\csp4.jpg">
            <p>Guiding the Women about the precautions</p>

                </div>
                <div class="csp-5">
            <img src="assets\images\csp5.jpg">
            <p>Guiding Villagers and creating Awareness about the Dieseases and remedes</p>
</div>
            </div>
</div>