.logo img{
    width:1000px;
    height:150px;
    margin-left: 230px;
}
.dept h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    color:rgb(7, 92, 49);
    margin-left: 350px;
    margin-top:50px;
}
.page h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    color:rgb(7, 92, 49);
    margin-left: 370px;
    margin-top:30px;
}
.logoo{
    margin-left: 550px;
}
.but{
    margin-left: 600px;
}
.but .signin{
    margin-left: 40px;
    width: 100px;
    height: 50px;
}



/* popup */
.wrapper{
    width: 50%;
    display: flex;
    justify-content:  center;
    align-items: center;
  }
  .overlay{
    position: absolute;
    top:0;
    left:0;
    background-color:  rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:  center;
    align-items: center;
  }
  .content{
    background-color: white;
    width: 400px;
    height: 150px;
    padding: 20px;
  }
  .confirm{
    margin-left: 10px;
    margin-top: 10px;
  
  }
  .confirm{
    margin-left: 40px;
  }
