<ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image">
          <img src="assets\images\influenza.png">
        </div>
        <div class="card_content">
          <h2 class="card_title">INFLUENZA</h2>
          <div class="card_text">
            <p>MEDICINES : Oseltamivir,Zanamivir</p>
            <p>TESTS : Rapid Influenza Diagnostic Tests (RIDTs),Reverse Transcription Polymerase Chain Reaction (RT-PCR),Nucleic Acid Amplification Tests (NAATs)</p>
            <p>Zanamivir
                For the treatment of influenza in adults and children (7 years and older):

                The recommended dosage is 2 inhalations (5 mg per inhalation) twice daily (approximately 12 hours apart) for a total of 10 doses (20 inhalations) over 5 days.</p>
                <p> Oseltamivir For the treatment of influenza in adults and children (1 year and older):

                    The recommended dosage for most individuals is 75 mg orally twice daily for 5 days.</p>
          </div>
        </div>
      </div>
    </li>
    <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <img src="assets\images\malaria.jpg">
          </div>
          <div class="card_content">
            <h2 class="card_title">MALARIA</h2>
            <div class="card_text">
              <p>MEDICINES : Chloroquine,Quinine,Atovaquone-proguanil</p>
              <p>TEST : Microscopic Examination of Blood Smear, Rapid Diagnostic Tests (RDTs),Polymerase Chain Reaction (PCR)</p>
              <p>Chloroquine is an antimalarial drug used for the treatment of uncomplicated malaria caused by Plasmodium vivax, Plasmodium ovale, Plasmodium malariae, and some drug-sensitive strains of Plasmodium falciparum.</p>
  <p>Quinine is an effective treatment for severe malaria and is usually administered in combination with an additional antimalarial drug.
  
  </p>
            </div>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <img src="assets\images\typhoid.jpeg">
          </div>
          <div class="card_content">
            <h2 class="card_title">TYPHOID</h2>
            <div class="card_text">
              <p>MEDICINES : Fluoroquinolones, Third-generation Cephalosporins</p>
              <p>TESTS : Blood Culture ,Widal Test, Polymerase Chain Reaction (PCR)</p>
              <p>Ciprofloxacin and levofloxacin are examples of fluoroquinolone antibiotics that are often used as the first-line treatment for uncomplicated typhoid fever. </p>
              <p>Ceftriaxone and cefixime are examples of third-generation cephalosporin antibiotics that are commonly used as alternative treatments, especially in areas with fluoroquinolone-resistant strains of Salmonella typhi.</p>
            </div>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <img src="assets\images\diahrea.jpg">
          </div>
          <div class="card_content">
            <h2 class="card_title">DIARRHEA</h2>
            <div class="card_text">
              <p>MEDICINES : Fluoroquinolones, Third-generation Cephalosporins</p>
              <p>TESTS : Stool Ova and Parasite Examination,Stool Antigen Tests,Blood Tests</p>
              <p></p>
            </div>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <img src="assets\images\DENGUE (2).png">
          </div>
          <div class="card_content">
            <h2 class="card_title">DENGUE</h2>
            <div class="card_text">
             
              <p>TESTS : PCR (Polymerase Chain Reaction),Dengue IgG Antibody Test</p>
              <p>PCR testing is a molecular diagnostic method used to detect the genetic material (RNA) of the dengue virus.
                 PCR testing is typically conducted in specialized laboratories and is more commonly used for early detection 
                 of the virus in suspected cases or in research settings.</p>
              <p></p>
            </div>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <img src="assets\images\fever.png">
          </div>
          <div class="card_content">
            <h2 class="card_title">FEVER</h2>
            <div class="card_text">
              <p>MEDICINES : Paracetamol (Acetaminophen) ,Aspirin </p>
              <p>For adults: The typical adult dose of paracetamol is 500 mg to 1000 mg every 4 to 6 hours, as needed.
                 The maximum daily dose should not exceed 4000 mg (4 grams).<br><br>
                For children: The dosage for children is based on their weight. It's important to follow the dosing 
                instructions provided on the specific formulation of paracetamol for children.
                 It's typically administered as a suspension or syrup.
                 Always consult a healthcare professional to determine the appropriate dosage for a child.</p>
              <p></p>
            </div>
          </div>
        </div>
      </li>