<div class="container">
    <div class="card">
    <div class="container">
        <div class="row">
            <div class="col-4">
            <img src="assets\images\logo1.png">
            </div>
            <div class="col-8">
        <h2>CONTACT US</h2>
        </div>
        </div>
        <div class="row">
            <div class="col-2">
                <img src="assets\images\tej.jpg">
            </div>
            <div class="col-3">
                <h4>D TEJA CHARAN</h4>
            </div>
            <div class="col-3">
                <h4>9949611924</h4>
            </div>
            <div class="col-3">
                <h4>tejacharan1234@gmail.com</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <img src="assets\images\sumanth.jpg">
            </div>
            <div class="col-3">
                <h4>T SUMANTH</h4>
            </div>
            <div class="col-3">
                <h4>8247322869</h4>
            </div>
            <div class="col-3">
                <h4>tatasumnath2003@gmail.com</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <img src="assets\images\mahi.jpg">
            </div>
            <div class="col-3">
                <h4>K MAHESH</h4>
            </div>
            <div class="col-3">
                <h4>9490458299</h4>
            </div>
            <div class="col-3">
                <h4>maheshkavali2299@gmail.com</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <img src="assets\images\somu.jpg">
            </div>
            <div class="col-3">
                <h4>K SOMNATH</h4>
            </div>
            <div class="col-3">
                <h4>7842230306</h4>
            </div>
            <div class="col-3">
                <h4>katragaddasomnath22@gmail.com</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <img src="assets\images\munaf.jpg">
            </div>
            <div class="col-3">
                <h4>SK MUNAF</h4>
            </div>
            <div class="col-3">
                <h4>7569497402</h4>
            </div>
            <div class="col-3">
                <h4>amomadmuneef@gmail.com</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <img src="assets\images\guna.jpg">
            </div>
            <div class="col-3">
                <h4>GUNA SCHEKAR</h4>
            </div>
            <div class="col-3">
                <h4>8247529158</h4>
            </div>
            <div class="col-3">
                <h4>gunaschekar@gmail.com</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <img src="assets\images\najeer.jpg">
            </div>
            <div class="col-3">
                <h4>SK NAJEER</h4>
            </div>
            <div class="col-3">
                <h4>7780545231</h4>
            </div>
            <div class="col-3">
                <h4>nazeershaik4282@gmail.com</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <img src="assets\images\chandra.jpg">
            </div>
            <div class="col-3">
                <h4>S CHANDRA SEKHAR</h4>
            </div>
            <div class="col-3">
                <h4>7842472589</h4>
            </div>
            <div class="col-3">
                <h4>sakinalachandrasekhar@gmail.com</h4>
            </div>
        </div>
        
    </div>
</div>
</div>